<div class="grid grid-cols-2 grid-rows-2 gap-4 m-auto py-48 max-w-72">
	<button class="btn btn-neutral">Home</button>
	<button class="btn btn-secondary">About</button>
	<button class="btn col-span-2 btn-primary">Contact</button>
</div>